<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Medicine Safety Code Server</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>SafetyCodeInterpreter</display-name>
		<servlet-name>SafetyCodeInterpreter</servlet-name>
		<servlet-class>SafetyCodeInterpreter</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SafetyCodeInterpreter</servlet-name>
		<url-pattern>/v0.2/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SafetyCodeGenerator</display-name>
		<servlet-name>SafetyCodeGenerator</servlet-name>
		<servlet-class>SafetyCodeGenerator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SafetyCodeGenerator</servlet-name>
		<url-pattern>/SafetyCodeGenerator</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MSCImageGenerator</display-name>
		<servlet-name>MSCImageGenerator</servlet-name>
		<servlet-class>MSCImageGenerator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MSCImageGenerator</servlet-name>
		<url-pattern>/MSCImageGenerator</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PatientOWLGenerator</display-name>
		<servlet-name>PatientOWLGenerator</servlet-name>
		<servlet-class>PatientOWLGenerator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PatientOWLGenerator</servlet-name>
		<url-pattern>/PatientOWLGenerator</url-pattern>
	</servlet-mapping>

	<!-- Define error page to react on HTTP response code -->
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/errorPage.jsp</location>
	</error-page>
</web-app>